<form method="POST" class="basic-grey" action="https://stapsher.extrastatic.xyz/gitlab/devil505/devil505.gitlab.io/master/comment/new">

  <input name="options[redirect][success]" type="hidden" value="https://devil505.gitlab.io/reussi">
  <input name="options[redirect][failure]" type="hidden" value="https://devil505.gitlab.io/echec">

  <input name="options[slug]" type="hidden" value="stapsher-docs">


        <span>
  <label for="author">Nom ou Pseudo</label>
	</span>
  <input id="author" name="fields[author]" type="text" required>

        <span>
  <label for="email">E-mail</label>
	</span>
  <input id="email" name="fields[email]" type="email" required>

        <span>
  <label for="site">Site</label>
	</span>
  <input id="site" name="fields[site]" type="url">

        <span>
  <label for="comment">Commentaire</label>
	</span>
  <textarea id="comment" name="fields[comment]" required></textarea>

        <span>&nbsp;</span>
  <button type="submit">Commentez!</button>

</form>
